body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

#stopWatch{
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 40px 0;
    margin: 200px auto 0;
    box-shadow: 0 10px 10px rgb(0,0,0,0.2);
    border-radius: 50px;
}
#stopWatch h2{
    padding-top: 30px;
    padding-bottom: 25px;
    font-size: 75px;
}
.watchbtn :nth-child(2){
    padding: 20px;
    border-radius: 100px;
    margin-left: 25px;
    margin-right: 25px;
    width: 117px;
    font-size: 25px;
    font-weight: bold;
}
.watchbtn :nth-child(1){
    padding: 10px;
    width: 95px;
    font-weight: bold;
    font-size: 20px;
}
.watchbtn :nth-child(3){
    padding: 10px;
    width: 95px;
    font-weight: bold;
    font-size: 20px;
}
#currentTime{
    font-size: 53px;
    padding-top: 25px;
    font-weight: bold;
    
}